
<header class="text-gray-600 w-screen z-50 px-7 py-3 lg:py-9 fixed top-0 left-0 bg-primary-color">
  <div class="flex flex-col md:flex-row gap-5 md:gap-16 justify-between items-center bg-primary-color">

  <div class="flex w-full justify-between ">
    <button (click)="Menuchange(trueValue===true?false:true)" class="lg:hidden ">
      <div *ngIf="!menu">
       <span class="material-symbols-rounded">
         menu
         </span>
      </div>
      <div *ngIf="menu">
       <span class="material-symbols-rounded">
         close
         </span>
      </div>
   </button>

   <div class="flex md:block pl-6">
     <a class="flex lg:order-none font-medium items-center text-highlight ">
       <span class=" flex my-auto ml-1 text-2xl  text-text2-color">UI. <span class="text-highlight/60">Movies</span> </span>
     </a>
   </div>
  </div>

<!-- ------------------------------------------------------------------------Search---------------------------------------------------------- -->

  <div class="h-max bg-primary-color flex flex-col justify-center">
    <div class="relative w-max sm:mx-auto">
      <div class="overflow-hidden z-0 rounded-full relative p-[3px]">
        <div name="search" class="relative flex z-50 bg-primary-color rounded-full">
          <input type="text" [(ngModel)]="Search" placeholder="Search the movie here..." class="rounded-full flex-1 px-3 py-2 text-text-color bg-primary-color focus:outline-none">
          <button [routerLink]="['/SearchResult',Search]" class="bg-highlight/60 text-sm text-white rounded-full font-semibold m-2 px-3 py-2 hover:bg-highlight/80 focus:bg-highlight focus:outline-none">Search</button>
        </div>
        <div class="glow glow-1 z-10 bg-highlight/80 absolute"></div>
        <div class="glow glow-2 z-20 bg-black absolute"></div>
        <div class="glow glow-3 z-30 bg-black absolute"></div>
        <div class="glow glow-4 z-40 bg-highlight absolute"></div>
      </div>
    </div>
  </div>

  </div>
</header>
