

<!-- ----------------------------------------------------------------------Main-page------------------------------------------------------------------ -->


 <div class="flex justify-end px-4 pt-[2%] lg:px-8 bg-primary-color ">

<div class="hidden lg:block h-screen w-[19%] fixed top-0 left-0 pt-24 ">
<div class="h-full w-full p-8 pt-14">
  <p class="text-base text-text2-color pl-3 ml-3 pb-2 border-b-[1px] border-highlight/60 ">Need Feed</p>
  <div class="p-6 flex flex-col gap-6 cursor-pointer ">
    <button routerLink="/login" class="flex justify-start items-center gap-4 text-text2-color hover:text-text-color">
      <span class="material-symbols-rounded  text-3xl">
        language
        </span>
    <p class=" text-sm ">Browse</p>
    </button>
    <button class="flex justify-start items-center gap-4 text-text2-color hover:text-text-color">
      <span class="material-symbols-rounded  text-3xl">
        favorite
        </span>
      <p class=" text-sm ">Watchlist</p>
    </button>
    <button class="flex justify-start items-center gap-4 text-text2-color hover:text-text-color">
      <span class="material-symbols-rounded  text-3xl">
        calendar_month
        </span>
      <p class=" text-sm ">Coming Soon</p>
    </button>
  </div>

  <div class="overflow-hidden">
    <p class="text-base text-text2-color pl-3 ml-3 pb-2 border-b-[1px] border-highlight/60 ">Following</p>

    <div *ngIf="Users" class="h-[420px] p-6 flex flex-col gap-2 overflow-y-scroll">

      <button *ngFor="let item of Users" class=" p-2 w-full rounded-md flex justify-start items-center gap-4">
        <img class="h-8 w-8 rounded-full  "
  src="https://api.dicebear.com/6.x/initials/svg?seed={{item.firstName}}"
  alt="avatar" />
        <p class="text-highlight/80 ">{{item.firstName}}</p>
      </button>

    </div>
  </div>

</div>

<!-- -------------------------------------------------------------------following------------------------------------------------------------------- -->



</div>

<div [class.side]="!(sidebar | async)" class=" lg:hidden h-[94vh] w-[60%] fixed bottom-0 left-0 z-50 bg-primary-color -translate-y-[900px] duration-1000">

<div>
</div>

  <div class="h-full w-full p-8 ">
    <p class="text-base text-text2-color pl-3 ml-3 pb-2 border-b-[1px] border-highlight/60 ">Need Feed</p>
    <div class="p-6 flex flex-col gap-6 cursor-pointer ">
      <button routerLink="/login" class="flex justify-start items-center gap-4 text-text2-color hover:text-text-color">
        <span class="material-symbols-rounded  text-3xl">
          language
          </span>
      <p class=" text-sm ">Browse</p>
      </button>
      <button class="flex justify-start items-center gap-4 text-text2-color hover:text-text-color">
        <span class="material-symbols-rounded  text-3xl">
          favorite
          </span>
        <p class=" text-sm ">Watchlist</p>
      </button>
      <button class="flex justify-start items-center gap-4 text-text2-color hover:text-text-color">
        <span class="material-symbols-rounded  text-3xl">
          calendar_month
          </span>
        <p class=" text-sm ">Coming Soon</p>
      </button>
    </div>

    <div class="overflow-hidden">
      <p class="text-base text-text2-color pl-3 ml-3 pb-2 border-b-[1px] border-highlight/60 ">Following</p>

      <div *ngIf="Users" class="h-[420px] p-6 flex flex-col gap-2 overflow-y-scroll">

        <button *ngFor="let item of Users" class=" p-2 w-full rounded-md">
          <p class="text-highlight/80 ">{{item.firstName}}</p>
        </button>

      </div>
    </div>

  </div>

  <!-- -------------------------------------------------------------------following------------------------------------------------------------------- -->



  </div>


  <!-- -----------------------------------------------------------main-component------------------------------------------------------------------- -->

  <div class="mt-24 pb-16 p-3 md:p-1 lg:p-12 lg:pr-1 flex flex-col items-start w-full lg:w-[calc(100vw-21.2%)] gap-6 overflow-hidden">

    <div class="aspect-[16/14] md:aspect-[16/5.5] w-full flex items-end md:justify-start md:items-center md:px-8 lg:px-12 lg:-ml-6 overflow-hidden rounded-3xl relative bg-black">

      <div *ngIf="head_array" class=" flex flex-col justify-center gap-2 md:gap-3 items-start h-[90%] pt-[38%] px-6 md:px-0 w-full md:h-full md:w-[85%] z-40 p-1 md:p-6 bg-gradient-to-t md:bg-gradient-to-r from-black via-black to-transparent">
        <p *ngIf="head_array.original_title" class="text-highlight relative text-base md:text-2xl lg:text-4xl md:w-1/3 w-full h-max " >{{head_array.original_title}}</p>
        <p *ngIf="head_array.original_name" class="text-highlight relative text-base md:text-2xl lg:text-4xl md:w-1/3 w-full h-max " >{{head_array.original_name}}</p>

<div class="flex gap-5">
  <div class="flex justify-center items-center gap-3">
    <div class="h-4 md:h-6 lg:h-8 aspect-[4/2.5] ">
      <img class="h-full w-full object-contain" src="../../assets/images/imdb.png" alt="">
    </div>
    <p class="text-text-color text-xs md:text-sm lg:text-xl pt-[2px] md:pt-0 lg:pt-1">{{head_array.vote_average|number: '1.0-1' }}</p>
    </div>

    <div class="flex justify-center items-center gap-3">
      <div class="h-3 md:h-4 lg:h-6 aspect-[4/2] ">
        <img *ngIf="head_array.original_language == 'en' " class="h-full w-full object-contain" src="../../assets/images/englisgflag.webp" alt="">
        <img *ngIf="head_array.original_language == 'pl' " class="h-full w-full object-contain" src="../../assets/images/polishflag.webp" alt="">
        <img *ngIf="head_array.original_language == 'ja' " class="h-full w-full object-contain" src="../../assets/images/japanflag.webp" alt="">
        <img *ngIf="head_array.original_language == 'zh' " class="h-full w-full object-contain" src="../../assets/images/chinaflag.png" alt="">
        <img *ngIf="head_array.original_language == 'es' " class="h-full w-full object-contain" src="../../assets/images/spainflag.png" alt="">
      </div>
      <p *ngIf="head_array.original_language == 'en' " class="text-text-color text-xs md:text-sm lg:text-xl pt-1">English</p>
      <p *ngIf="head_array.original_language == 'pl' " class="text-text-color text-xs md:text-sm lg:text-xl pt-1">Polish</p>
      <p *ngIf="head_array.original_language == 'ja' " class="text-text-color text-xs md:text-sm lg:text-xl pt-1">Japanese</p>
      <p *ngIf="head_array.original_language == 'zh' " class="text-text-color text-xs md:text-sm lg:text-xl pt-1">Chinese</p>
      <p *ngIf="head_array.original_language == 'es' " class="text-text-color text-xs md:text-sm lg:text-xl pt-1">Spanish</p>
      </div>
</div>

      <!-- <p class="text-text-color/90 relative text-sm md:text-xl lg:text-2xl md:w-1/3 w-full h-full md:h-max " >Overview</p>
      <p class="hidden md:block text-text2-color relative text-xs md:text-sm lg:text-lg leading-4 md:leading-10 md:w-1/3 w-full h-full md:h-max" >{{head_array.overview.slice(0,40)}}</p>
      <p class="md:hidden text-text2-color relative text-xs md:text-sm lg:text-lg leading-4 md:leading-10 md:w-1/3 w-full h-full md:h-max" >{{head_array.overview.slice(0,20)}}...</p> -->

<div class="flex">
<button class="p-1 md:p-1 md:px-2 lg:p-2 lg:px-3 mt-4 md:mt-2 lg:mt-4 rounded md:rounded-lg lg:rounded-xl bg-highlight/80 text-text-color text-xs md:text-base">watch</button>
</div>

      </div>

            <img *ngIf="head_array" class="h-[60%] w-full md:h-full md:w-[56%] absolute top-0 right-0 rounded-3xl object-top object-cover
             md:object-fill " src="{{image_url}}{{head_array.backdrop_path}}" alt="">

            <div *ngIf="head_array && head_array_B && head_array_A" class="absolute bottom-[4%] right-[8%] md:bottom-[8%] md:right-[3%] z-40 h-[15%] w-[54%] md:h-[19%] md:w-[32%] flex justify-between items-center">
              <div class="h-[85%] w-[31%] relative">
                <img class="h-full w-full object-cover rounded-xl" src="{{image_url}}{{head_array_B.backdrop_path}}" alt="">
                <div (click)="min()" class="h-6 w-6 md:h-8 md:w-8 rounded-full bg-highlight/70 absolute -left-4 top-[25%] flex justify-center items-center cursor-pointer">
                  <span class="material-symbols-rounded text-text-color ">
                    chevron_left
                    </span>
                </div>
              </div>
              <div class="h-full w-[35%] ">
                <img class="h-full w-full object-cover rounded-xl border-[0.5px] border-highlight" src="{{image_url}}{{head_array.backdrop_path}}" alt="">
              </div>
              <div class="h-[85%] w-[31%] relative">
                <img class="h-full w-full object-cover rounded-xl" src="{{image_url}}{{head_array_A.backdrop_path}}" alt="">
                <div (click)="add()" class="h-6 w-6 md:h-8 md:w-8 rounded-full bg-highlight/70 absolute -right-4 top-[25%] flex justify-center items-center cursor-pointer">
                  <span class="material-symbols-rounded text-text-color ">
                    chevron_right
                    </span>
                </div>
              </div>
            </div>

          </div>


   <div class="w-screen h-max " *ngIf="{
   tp: $tp | async,
   type: $type | async,
   time: $dayweek | async
  } as filter " >

    <div class=" w-max text-2xl lg:text-3xl pr-4 mt-6 font-medium border-b-[1px] border-highlight/60 text-text-color ">{{moviename}} Movies</div>

    <div *ngIf="filter.tp && filter.type && filter.time" class="flex flex-wrap gap-2 md:gap-4 my-6">

      <div class="flex w-32 md:w-72 p-1 rounded-full bg-highlight/60 ">

        <button (click)="changeshow(filter.tp)" class="cursor-pointer relative w-full text-text-color flex items-center justify-between gap-3 md:gap-6 px-1 py-2 md:px-6 md:py-1 rounded-3xl">
          <span [ngClass]="{'translate-x-[56px] md:translate-x-[115px]' : switch3,'left-0':!switch3}" class="absolute w-1/2 h-full left-0 rounded-3xl bg-primary-color  duration-500"></span>
          <span class="relative pl-[1px] md:ml-3 text-xs md:text-base">Trending</span>
          <span class="relative pr-1 md:mr-4 text-xs md:text-base">Popular</span>
        </button>

      </div>

      <div class="flex w-24 md:w-52 p-1 gap-3 bg-highlight/60 rounded-full">
        <button (click)="changetype(filter.type)" class="cursor-pointer relative w-full text-text-color flex items-center justify-between gap-6 px-3 md:px-6 md:py-1 rounded-3xl duration-1000">
          <span [ngClass]="{'translate-x-[32px] md:translate-x-[75px]' : switch2,'left-0':!switch2}" class="absolute w-1/2 h-full left-0 rounded-3xl bg-primary-color duration-500"></span>
          <span class="relative ml-[1px] md:ml-4 text-xs md:text-base">All</span>
          <span class="relative pr-1 md:mr-4 text-xs md:text-base">Tv</span>
        </button>
      </div>

      <div *ngIf="filter.tp == 'trending' " class="flex w-32 md:w-52 p-1 gap-3 bg-highlight/60 rounded-full">
        <button (click)="changetime(filter.time)" class="cursor-pointer relative w-full text-text-color flex items-center justify-between gap-6 px-2 md:px-6 md:py-1 rounded-3xl duration-1000">
          <span [ngClass]="{'translate-x-[50px] md:translate-x-[75px]' : switch,'left-0':!switch}" class="absolute w-1/2 h-full left-0 rounded-3xl bg-primary-color duration-500"></span>
          <span class="relative pl-1 ml-2 text-xs md:text-base">Day</span>
          <span class="relative pr-[5px] md:mr-1 text-xs md:text-base">Week</span>
        </button>
      </div>

    </div>


      <div class="w-full flex  overflow-x-scroll overflow-y-hidden pr-10 lg:pr-52">
        <div *ngFor="let trend of $trending_array | async " class="h-full w-full flex flex-col item-start p-3 md:p-4 relative " [routerLink]="['/detailpage',trend.id]">
<div class="absolute bottom-0 left-0 h-[65%] md:h-[55%] w-full opacity-50"><img class="h-full w-full " src="../../assets/images/lines2.png" alt=""></div>
          <div class="h-52 w-36 md:h-60 md:w-44 lg:h-72 lg:w-52 z-10 relative "  >
            <img class="h-full w-full object-contain rounded-2xl " src="{{image_url}}{{trend.poster_path}}" alt="">
            <div class="text-sm h-12 w-12 flex justify-center items-center rounded-full text-white bg-primary-color absolute -bottom-6 left-0">
              <p class="absolute top-[31%]">{{math.floor(trend.vote_average*10)}}%</p>
              <svg class="rotate-[-90deg]" width="47px" height="47px" viewBox="0 0 100 100">
                <circle cx="52.5" cy="52.5" r="50" fill="transparent" [attr.stroke]="ratingcolor2(trend.vote_average*10)" [attr.stroke-dasharray] = "314" stroke-width="9" class="scale-[0.95]"/>
              <circle cx="52.5" cy="52.5" r="50" fill="transparent" [attr.stroke]="ratingcolor(trend.vote_average*10)" [attr.stroke-dashoffset] = "(3.14*(100-trend.vote_average*10))" [attr.stroke-dasharray] = "314" stroke-width="9" stroke-linecap="round" class="scale-[0.95]"/>
              </svg>
            </div>
          </div>
          <div class="p-1 mt-9 w-full">
            <p *ngIf="trend.original_title" class="text-sm md:text-base font-medium text-text-color relative"> {{trend.original_title}} </p>
            <p *ngIf="trend.original_name" class="text-sm md:text-base font-medium text-text-color relative"> {{trend.original_name}} </p>
            <p class="text-sm md:text-base text-text2-color relative"> {{trend.release_date}} </p>
          </div>
        </div>
      </div>

   </div>

<!-- -----------------------------------------------------------------------Up-Coming---------------------------------------------- -->

<ng-container class="h-max w-full flex justify-start items-start ">

  <div class=" w-max text-2xl lg:text-3xl pr-4 font-medium border-b-[1px] border-highlight/60 text-text-color ">UpComing Movies</div>

  <div class="w-full flex  overflow-x-scroll overflow-y-hidden">
    <div *ngFor="let trend of upcoming_array" class="h-full w-full flex flex-col item-start p-3 md:p-4 " [routerLink]="['/detailpage',trend.id]">
      <div class="h-52 w-36 md:h-60 md:w-44 lg:h-72 lg:w-52 z-10 relative" >
        <img class="h-full w-full object-contain rounded-2xl" src="{{image_url}}{{trend.poster_path}}" alt="">
        <div class="text-sm h-12 w-12 flex justify-center items-center rounded-full text-white bg-primary-color absolute -bottom-6 left-0">
          <p class="absolute top-[31%]">{{math.floor(trend.vote_average*10)}}%</p>
          <svg class="rotate-[-90deg]" width="47px" height="47px" viewBox="0 0 100 100">
            <circle cx="52.5" cy="52.5" r="50" fill="transparent" [attr.stroke]="ratingcolor2(trend.vote_average*10)" [attr.stroke-dasharray] = "314" stroke-width="9" class="scale-[0.95]"/>
          <circle cx="52.5" cy="52.5" r="50" fill="transparent" [attr.stroke]="ratingcolor(trend.vote_average*10)" [attr.stroke-dashoffset] = "(3.14*(100-trend.vote_average*10))" [attr.stroke-dasharray] = "314" stroke-width="9" stroke-linecap="round" class="scale-[0.95]"/>
          </svg>
        </div>
      </div>
      <div class="p-1 mt-9 w-full">
        <p *ngIf="trend.original_title" class="text-sm md:text-base font-medium text-text-color relative"> {{trend.original_title}} </p>
        <p *ngIf="trend.original_name" class="text-sm md:text-base font-medium text-text-color relative"> {{trend.original_name}} </p>
        <p class="text-sm md:text-base text-text2-color"> {{trend.release_date}} </p>
      </div>

    </div>
  </div>

</ng-container>

   <!-- ----------------------------------------------------------------------------Top-Rated---------------------------------------------------------------- -->


<ng-container class="h-max w-full flex justify-start items-start ">

  <div class=" w-max text-2xl lg:text-3xl pr-4 font-medium border-b-[1px] border-highlight/60 text-text-color ">Top Rated Movies</div>

  <div class="w-full flex  overflow-x-scroll overflow-y-hidden">
    <div *ngFor="let trend of topRated_array" class="h-full w-full flex flex-col item-start p-3 md:p-4 " [routerLink]="['/detailpage',trend.id]">
      <div class="h-52 w-36 md:h-60 md:w-44 lg:h-72 lg:w-52 z-10 relative" >
        <img class="h-full w-full object-contain rounded-2xl" src="{{image_url}}{{trend.poster_path}}" alt="">
        <div class="text-sm h-12 w-12 flex justify-center items-center rounded-full text-white bg-primary-color absolute -bottom-6 left-0">
          <p class="absolute top-[31%]">{{math.floor(trend.vote_average*10)}}%</p>
          <svg class="rotate-[-90deg]" width="47px" height="47px" viewBox="0 0 100 100">
            <circle cx="52.5" cy="52.5" r="50" fill="transparent" [attr.stroke]="ratingcolor2(trend.vote_average*10)" [attr.stroke-dasharray] = "314" stroke-width="9" class="scale-[0.95]"/>
          <circle cx="52.5" cy="52.5" r="50" fill="transparent" [attr.stroke]="ratingcolor(trend.vote_average*10)" [attr.stroke-dashoffset] = "(3.14*(100-trend.vote_average*10))" [attr.stroke-dasharray] = "314" stroke-width="9" stroke-linecap="round" class="scale-[0.95]"/>
          </svg>
        </div>
      </div>
      <div class="p-1 mt-9 w-full">
        <p *ngIf="trend.original_title" class="text-sm md:text-base font-medium text-text-color relative"> {{trend.original_title}} </p>
        <p *ngIf="trend.original_name" class="text-sm md:text-base font-medium text-text-color relative"> {{trend.original_name}} </p>
        <p class="text-sm md:text-base text-text2-color"> {{trend.release_date}} </p>
      </div>

    </div>
  </div>

</ng-container>


</div>

 </div>
